/*10) Увеличить на 1 количество всех товаров на складах с именем товара «фисташка» и
которые обслуживают магазины с именем «мир пустоты».*/
SELECT TOP (1000) [product_ID]
      ,[stock_ID]
      ,[count]
  FROM [Lab5].[dbo].[stock_product]